CREATE USER '{{ db_user }}'@'%' IDENTIFIED BY '{{ db_password }}';
GRANT USAGE ON *.* TO '{{ db_user }}'@'%' IDENTIFIED BY '{{ db_password }}' WITH MAX_QUERIES_PER_HOUR 0 MAX_CONNECTIONS_PER_HOUR 0 MAX_UPDATES_PER_HOUR 0 MAX_USER_CONNECTIONS 0;
CREATE DATABASE IF NOT EXISTS `{{ db_name }}` DEFAULT CHARACTER SET {{ db_character_set }} COLLATE {{ db_collation }};
GRANT ALL PRIVILEGES ON `{{ db_name }}`.* TO '{{ db_user }}'@'%';